In [1]:
#EJERCICIOS LISTAS
# 1 Duplicar elementos de una lista

lista = [2,4,6,8]

In [3]:
lista_2 = [lista + lista]
lista_2

[[2, 4, 6, 8, 2, 4, 6, 8]]

In [4]:
# 2 Combinar dos listas
lista1 = [1,2,3]
lista2 =[4, 5, 6]

In [6]:
lista3 = [lista1 + lista2]
lista3

[[1, 2, 3, 4, 5, 6]]

In [10]:
# 3 Calcular la suma de una lista de números
lista_suma = [2 + 4 + 6 + 8]
lista_suma

[20]

In [11]:
# 4 Encontrar el valor máximo en una lista
max(lista)

8

In [12]:
# 5 Calcular la longitud de una lista
len(lista)

4

In [10]:
# 6 Encontrar el índice de un elemento en una lista

lista4 = ["elemento1","elemento2","elemento3"]

In [53]:
lista4.index("elemento1")

0

In [13]:
# 7 Contar ocurrencias de un elemento en una lista
lista4.count("elemento1")

1

In [14]:
# 8 Obtener una sublista de una lista
colores = ["azul", "verde", "amarillo", "rosa", "blanco", "negro", "morado"]

In [15]:
print(colores[2:5])

['amarillo', 'rosa', 'blanco']

In [19]:
# 9 Obtener el último elemento de una lista
print(colores[-1])

morado

In [ ]:
# 10 está repetido

In [20]:
# 11 Obtener una sublista de una lista
print(colores[1:3])

['verde', 'amarillo']

In [21]:
# 12 Reemplazar un elemento en una lista
colores.pop(1)

'verde'

In [24]:
colores.insert(1,"naranja")

In [25]:
colores

['azul', 'naranja', 'amarillo', 'rosa', 'blanco', 'negro', 'morado', 'naranja']

In [26]:
colores.pop(-1)

'naranja'

In [27]:
colores

['azul', 'naranja', 'amarillo', 'rosa', 'blanco', 'negro', 'morado']

In [28]:
# 13 Obtener una lista inversa
colores.reverse()

In [29]:
colores

['morado', 'negro', 'blanco', 'rosa', 'amarillo', 'naranja', 'azul']

In [30]:
# 14 Ordenar una lista en orden ascendente
lista_numeros = [2,6,4,7,9]

In [31]:
lista_numeros.sort()

In [32]:
lista_numeros

[2, 4, 6, 7, 9]

In [35]:
# EJERCICIOS TUPLAS
#1 Acceder al primer elemento de una tupla
dias = "lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"

In [36]:
print(type(dias))

<class 'tuple'>

In [37]:
print(dias[0])

lunes

In [38]:
# 2 Acceder al último elemento de una tupla
print(dias[-1])

domingo

In [39]:
# 3 Obtener la longitud de una tupla
len(dias)

7

In [40]:
# 4 Concatenar dos tuplas

meses = "enero", "febrero", "marzo"

In [41]:
print(type(meses))

<class 'tuple'>

In [42]:
tupla_concatenada = dias + meses

In [43]:
tupla_concatenada

('lunes',
 'martes',
 'miercoles',
 'jueves',
 'viernes',
 'sabado',
 'domingo',
 'enero',
 'febrero',
 'marzo')

In [47]:
# 5 Encontrar el índice de un elemento en una tupla
numeros = 6, 7, 8, 9

In [51]:
numeros.index(7)

1

In [54]:
# 6 Contar ocurrencias de un elemento en una tupla
dias.count("martes")

1

In [55]:
#7 Obtener una subtuple de una tupla. Descripción: Dada una tupla, crea una nueva tupla que contenga los elementos desde el índice 1 hasta el índice 3 (sin incluirlo).

dias_subtupla = print(dias[1:3])

('martes', 'miercoles')

In [57]:
# 8 Invertir una tupla. Descripción: Dada una tupla, inviértela en orden.
dias_lista = list(dias)

In [58]:
dias_lista

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']

In [59]:
dias_lista.reverse()

In [60]:
dias_lista

['domingo', 'sabado', 'viernes', 'jueves', 'miercoles', 'martes', 'lunes']

In [61]:
dias_invertido = tuple(dias_lista)

In [62]:
dias_invertido

('domingo', 'sabado', 'viernes', 'jueves', 'miercoles', 'martes', 'lunes')

In [63]:
print(type(dias_invertido))

<class 'tuple'>